.flex {
  display: grid;
}

.page {
  display: grid;
  position: relative;
  place-items: center;
  height: 405px;
  width: 295px;
  background-color: #D0D0D0;
  /*background-color: #606060;*/
  padding: 8px;
  margin-right: 4px;
}

.background-page {
  display: grid;
  position: relative;
  place-items: center;
  height: 378px;
  width: 295px;
  background-color: #D0D0D0;
  /*background-color: #606060;*/
  padding: 8px;
  margin-right: 4px;
}

.frame {
  display: block;
  /*height: 498px;
  width: 354px;*/
  height: 385px;
  width: 275px;
  /*box-shadow: 0 19px 38px      rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  background: black;
  border-radius: 13.5px;
  /*-webkit-border-radius: 17px;
  border-radius: 17px;*/
  background-color: #e2e2dd;
}

.background-frame {
  display: block;
  /*height: 498px;
  width: 354px;*/
  height: 355px;
  width: 255px;
  /*box-shadow: 0 19px 38px      rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  border-radius: 13.5px;
  /*-webkit-border-radius: 17px;
  border-radius: 17px;*/
  background-color: white;
  background-image: url("./knights-bg.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: block;
  height: 45px;
  margin: 0 8px;
}

.role {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  padding-top: 8px;
}

.role div {
  height: 35px;
  width: 35px;
  /*margin: auto 0;*/
  position: absolute;
  bottom: 0;
}

#icon {
  display: block;
  height: 11px;
  width: 11px;
  margin: 0 auto;
  background-repeat: no-repeat;

}

#icon-inline {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin: 0px 4px;
  background-repeat: no-repeat;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hq {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/HQ.svg");
}

.tau {
  background-image: url("./tau.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.knights {
  background-image: url("./knights.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.troops {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Troops.svg");
}

.unknown {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Unknown.svg");
}

.elites {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Elites.svg");
}

.fast-attack {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Fast-Attack.svg");
}

.dedicated-transport {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Dedicated-Transport.svg");
}

.flyer {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Flyer.svg");
}

.heavy-support {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Heavy-Support.svg");
}

.fortification {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Fortification.svg");
}

.lord-of-war {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Lord-of-War.svg");
}

.label>div {
  background-position: center;
}

.movement {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Move.svg");
}

.weaponskill {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/WeaponSkill.svg");
}

.ballisticskill {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/BallisticSkill.svg");
}

.toughness {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Toughness.svg");
}

.wounds {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Wounds.svg");
}

.attacks {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Attacks.svg");
}

.leadership {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Leadership.svg");
}

.save {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Save.svg");
}

.inv {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Invuln.svg");
}

.ap {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/ArmourPenetration.svg");
}

.dmg {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Damage.svg");
}

.range {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Range.svg");
}

.strength {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Strength.svg");
}

.type {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Type.svg");
}

.assault-weapon {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Assault.svg");
}

.grenade {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Grenade.svg");
}

.heavy-weapon {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Heavy.svg");
}

.melee {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Melee.svg");
}

.pistol {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/Pistol.svg");
}

.rapid-fire {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/RapidFire.svg");
}

.user {
  background-image: url("https://raw.githubusercontent.com/ronplanken/40k-Data-Card/master/src/svg/User.svg");
}

.weapon-icon {
  height: 11px;
  width: 11px;
  margin-right: 2px;
}

.name {
  float: right;
  width: 210px;
  min-height: 32x;
  padding: 8px 0 0 0;
  line-height: 15px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 2px solid #000;
}

.heading {
  display: grid;
  background: #b6beba;
  margin: 4px 8px 0 8px;
  grid-template-rows: 14px;
  vertical-align: middle;
  border-bottom: 2px solid #777273;
}

.edit_heading {
  display: grid;
  background: #b6beba;
  grid-template-rows: 14px;
  vertical-align: middle;
  border-bottom: 2px solid #777273;
}
.edit_line {
  display: grid;
  background: #b6beba;
  grid-template-rows: 32px;
  vertical-align: middle;
  border-bottom: 2px solid #777273;
  }

.labels {
  font-weight: 600;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weapons {
  grid-template-columns: 113px 40px 40px 22px 22px 22px;
  font-size: 12px;
}

.weapon_profile {
  display: grid;
  grid-template-columns: 113px 40px 40px 22px 22px 22px;
  font-size: 11px;
}
.weapon_edit_profile {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 11px;
}

.weapon_desc {
  padding: 0 12px;
  margin-bottom: 4px;
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700px;
  text-align: justify;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: 14px;
}

.left {
  text-align: left;
  padding-left: 5px;
}

.center {
  display: grid;
  place-items: center;
  justify-content: center;
}

.profile {
  border-bottom: 2px solid #777273;
  margin: 0 8px;
}

.statline {
  display: grid;
  width: 9fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: centre;
  vertical-align: middle;
  font-weight: 600;

}

.statline:nth-child(even) {
  background: #dee3e0;
}

.statline:nth-child(odd) {
  background: #fff;
}

.weapon:nth-of-type(even) {
  background: #dee3e0;
}

.weapon:nth-of-type(even) + .weapon_desc {
  background: #dee3e0;
}

.weapon:nth-of-type(odd) + .weapon_desc {
  background: #fff;
}

.weapon:nth-of-type(odd) {
  background: #fff;
}

#value {
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
}

.description {
  background: #dee3e0;
  margin: 4px 5px;
  padding: 0 4px;
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 700px;
  text-align: justify;
  letter-spacing: 0px;
  word-spacing: -1px;
  line-height: 14px;
}

.description p {
  margin-bottom: 0;
}

.selections_header {
  margin: 4px 8px 0px;
  padding: 0 4px;
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: justify;
  letter-spacing: -1px;
  word-spacing: -1px;
  line-height: 14px;
  border-bottom: 2px solid #777273;
}

.selections {
  background: #dee3e0;
  margin: 0px 8px 0px 8px;
  padding: 0 4px;
  vertical-align: middle;
  font-family: 'Heebo', sans-serif;
  font-size: 11px;
  font-weight: 600px;
  text-align: justify;
  letter-spacing: -1px;
  word-spacing: 0px;
  line-height: 14px;
  border-bottom: 2px solid #777273;
}

.abilities {
  max-height: 10.2em;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  left: 0;
  bottom: 8px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
}