name: Deploy to Production (GitHub Pages)

on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: write
  pages: write

env:
  REACT_APP_URL: https://game-datacards.eu
  REACT_APP_DATASOURCE_10TH_URL: https://raw.githubusercontent.com/game-datacards/datasources/main/10th/gdc
  REACT_APP_DATASOURCE_10TH_COMBATPATROL_URL: https://raw.githubusercontent.com/game-datacards/datasources/main/10th/combatpatrol
  REACT_APP_DATASOURCE_9TH_URL: https://raw.githubusercontent.com/game-datacards/datasources/main/40k
  REACT_APP_MESSAGES_URL: https://raw.githubusercontent.com/game-datacards/messages/main/messages.json
  REACT_APP_ENVIRONMENT: production
  REACT_APP_IS_PRODUCTION: true

jobs:
  deploy:
    name: GitHub Pages
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install packages
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
          git-config-name: github-actions
          git-config-email: github-actions@github.com
